<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="creator" content="sharath mohan" />
    <meta name="description" content="image cards for website" />
    <meta name="keywords" content="html , css , bootstrap project" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="images/child.png" />
    <title>Pure bootstrap website</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
      <!--    nav bar section starts from here-->
      <a href="#" class="navbar-brand pl-3"
        ><i class="fas fa-child text-warning fa-2x"></i
      ></a>
      <button
        class="navbar-toggler bg-light"
        data-toggle="collapse"
        data-target="#nav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="nav">
        <ul class="navbar-nav">
          <li class="nav-item pl-3">
            <a
              href="#home"
              class="nav-link text-light text-uppercase font-weight-bold"
              >Home</a
            >
          </li>
          <li class="nav-item pl-3">
            <a
              href="#skills"
              class="nav-link text-light text-uppercase font-weight-bold"
              >Skills</a
            >
          </li>
          <li class="nav-item pl-3 dropdown">
            <a
              href=""
              class="nav-link text-light text-uppercase font-weight-bold dropdown-toggle"
              data-toggle="dropdown"
              >Projects</a
            >
            <div class="dropdown-menu">
              <a href="#projects" class="dropdown-item">project 1</a>
              <a href="#projects" class="dropdown-item">project 2</a>
              <a href="#projects" class="dropdown-item">project 3</a>
              <a href="#projects" class="dropdown-item">project 4</a>
            </div>
          </li>
          <li class="nav-item pl-3">
            <a
              href="#team"
              class="nav-link text-light text-uppercase font-weight-bold"
              >Team</a
            >
          </li>
          <li class="nav-item pl-3">
            <a
              href="#progress"
              class="nav-link text-light text-uppercase font-weight-bold"
              >Progress</a
            >
          </li>
          <li class="nav-item pl-3">
            <a
              href="#contact"
              class="nav-link text-light text-uppercase font-weight-bold"
              >Contact</a
            >
          </li>
          <li class="nav-item pl-3">
            <a
              href="/logout"
              class="nav-link text-light text-uppercase font-weight-bold"
              >Logout</a
            >
          </li>
        </ul>
        <form action="" class="form-inline pl-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search" />
            <div class="input-group-append">
              <button class="btn bg-light">
                <i class="fas fa-search text-muted"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </nav>
    <!--    nav bar section ends right here-->

    <!--    banner section starts from here-->

    <section class="container-fluid" id="home">
      <div
        class="row justify-content-center align-items-center bg-info"
        style="height:100vh;"
      >
        <div class="col-sm-10 text-center">
          <h1>
            <span class="text-warning display-2">Pure Bootstrap</span>
            <span class="font-weight-bold text-white h-6">Website</span>
          </h1>
          <h2 class="font-italic text-light font-weight-light pb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </h2>
          <a href="" class="btn btn-lg btn-warning px-3 mx-2">Press Here</a>
          <a href="" class="btn btn-lg btn-danger px-3 mx-2">Press Here</a>
        </div>
      </div>
    </section>

    <!--    banner section ends right here-->

    <!--    skills section starts right here-->
    <section class="p-5 bg-light" id="skills">
      <div class="container-fluid">
        <!--  title here  -->
        <div class="row">
          <div class="col text-center mb-3">
            <h1 class="display-2 text-warning">Skills</h1>
            <p class="text-secondary lead font-italic">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
              unde.
            </p>
          </div>
        </div>
        <!--  title ends here  -->
        <div class="row">
          <div class="col-lg-4 col-sm-10 text-center mx-auto mt-2">
            <span><i class="fas fa-desktop fa-6x text-warning"></i></span>
            <h1 class="h1 text-muted">Developement</h1>
            <p class="lead text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
              corporis in sed? Minus, debitis quisquam!
            </p>
            <button class="btn btn-outline-warning btn-lg">Learn More</button>
          </div>
          <div class="col-lg-4 col-sm-10 text-center mx-auto mt-2">
            <span><i class="fas fa-edit fa-6x text-warning"></i></span>
            <h1 class="h1 text-muted">Design</h1>
            <p class="lead text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque rerum minima, eligendi cumque adipisci, ratione!
            </p>
            <button class="btn btn-outline-warning btn-lg">Learn More</button>
          </div>
          <div class="col-lg-4 col-sm-10 text-center mx-auto mt-2">
            <span><i class="fas fa-cogs fa-6x text-warning"></i></span>
            <h1 class="h1 text-muted">Creativity</h1>
            <p class="lead text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ex,
              esse eveniet repellendus eaque debitis!
            </p>
            <button class="btn btn-outline-warning btn-lg">Learn More</button>
          </div>
        </div>
      </div>
    </section>
    <!--    skills section ends right here-->

    <!-- projects section starts from here  -->
    <section class="p-5 bg-light" id="projects">
      <div class="container-fluid">
        <!--  title here  -->
        <div class="row">
          <div class="col text-center mb-3">
            <h1 class="display-2 text-warning">Projects</h1>
            <p class="text-secondary lead font-italic">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
              unde.
            </p>
          </div>
        </div>
        <!--  title ends here  -->
        <div class="row">
          <div class="col-lg-3 col-sm-6 mt-1">
            <img src="images/project1.jpg" alt="" class="img-thumbnail" />
            <h2 class="text-warning font-weight-bold">Project One</h2>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
              ratione facilis magnam!
            </p>
          </div>
          <div class="col-lg-3 col-sm-6 mt-2">
            <img src="images/project2.jpg" alt="" class="img-thumbnail" />
            <h2 class="text-warning font-weight-bold">Project Two</h2>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
              consequatur, incidunt nemo?
            </p>
          </div>
          <div class="col-lg-3 col-sm-6 mt-3">
            <img src="images/project3.jpg" alt="" class="img-thumbnail" />
            <h2 class="text-warning font-weight-bold">Project Three</h2>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
              ullam, ipsum obcaecati.
            </p>
          </div>
          <div class="col-lg-3 col-sm-6 mt-4">
            <img src="images/project4.jpg" alt="" class="img-thumbnail" />
            <h2 class="text-warning font-weight-bold">Project Four</h2>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
              aperiam nemo omnis.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- projects section ends right here  -->

    <!-- team section starts from here  -->
    <section class="p-sm-5 p-3 bg-secondary" id="team">
      <div class="container-fluid">
        <!--  title here  -->
        <div class="row">
          <div class="col text-center mb-3">
            <h1 class="display-2 text-warning">Team</h1>
            <p class="text-light lead font-italic">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
              unde.
            </p>
          </div>
        </div>
        <!--  title ends here  -->
        <div class="row">
          <div class="col-lg-3 col-sm-9 mx-auto mb-3">
            <div class="card">
              <img src="images/person1.jpg" class="card-img-top" alt="" />
              <div class="card-body">
                <div class="card-title">
                  <h2 class="card-heading text-muted">Ambrose</h2>
                </div>
                <div class="card-subtitle">
                  <p class="text-dark text-italic lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                  </p>
                </div>
                <div class="text-right">
                  <a href=""
                    ><i class="fab fa-facebook fa-2x mx-2 text-primary"></i
                  ></a>
                  <a href=""
                    ><i class="fab fa-twitter fa-2x mx-2 text-info"></i
                  ></a>
                  <a href=""
                    ><i class="fab fa-youtube fa-2x mx-2 text-danger"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-9 mx-auto mb-3">
            <div class="card">
              <img src="images/person2.jpg" class="card-img-top" alt="" />
              <div class="card-body">
                <div class="card-title">
                  <h2 class="card-heading text-muted">Michel</h2>
                </div>
                <div class="card-subtitle">
                  <p class="text-dark text-italic lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                  </p>
                </div>
                <div class="text-right">
                  <a href=""
                    ><i class="fab fa-facebook fa-2x mx-2 text-primary"></i
                  ></a>
                  <a href=""
                    ><i class="fab fa-twitter fa-2x mx-2 text-info"></i
                  ></a>
                  <a href=""
                    ><i class="fab fa-youtube fa-2x mx-2 text-danger"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-sm-9 mx-auto mb-3">
            <div class="card">
              <img src="images/person3.jpg" class="card-img-top" alt="" />
              <div class="card-body">
                <div class="card-title">
                  <h2 class="card-heading text-muted">Ann</h2>
                </div>
                <div class="card-subtitle">
                  <p class="text-dark text-italic lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                  </p>
                </div>
                <div class="text-right">
                  <a href=""
                    ><i class="fab fa-facebook fa-2x mx-2 text-primary"></i
                  ></a>
                  <a href=""
                    ><i class="fab fa-twitter fa-2x mx-2 text-info"></i
                  ></a>
                  <a href=""
                    ><i class="fab fa-youtube fa-2x mx-2 text-danger"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- team section ends right here  -->

    <!-- progress section starts from here  -->
    <section class="p-5 bg-light" id="progress">
      <div class="container-fluid">
        <!--  title here  -->
        <div class="row">
          <div class="col text-center mb-3">
            <h1 class="display-2 text-warning">Progress</h1>
            <p class="text-secondary lead font-italic">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
              unde.
            </p>
          </div>
        </div>
        <!--  title ends here  -->
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h2 class="h2 text-muted">HTML</h2>
            <div class="progress bg-secondary">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 83%"
              ></div>
            </div>

            <h2 class="h2 text-muted">CSS</h2>
            <div class="progress bg-secondary">
              <div
                class="progress-bar bg-success"
                role="progressbar"
                style="width: 90%"
              ></div>
            </div>

            <h2 class="h2 text-muted">Javascript</h2>
            <div class="progress bg-secondary">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 25%"
              ></div>
            </div>

            <h2 class="h2 text-muted">Bootstrap</h2>
            <div class="progress bg-secondary">
              <div
                class="progress-bar bg-warning"
                role="progressbar"
                style="width: 60%"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- progress section ends right here  -->

    <!-- contact section starts from here  -->
    <section class="p-5" id="contact">
      <div class="container-fluid">
        <!-- title starts from here -->
        <div class="row justify-content-center">
          <div class="col text-center mb-3">
            <h1 class="display-2 text-warning">Contact Us</h1>
            <p class="lead text-secondary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
              unde.
            </p>
          </div>
        </div>
        <!-- title ends right here -->
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-8 col-10 text-center">
            <h3 class="text-muted">Got Question..?</h3>
            <p class="lead text-secondary">Stay Connected...</p>
            <form action="">
              <div class="form-group">
                <label for="name" class="lead text-dark">Name</label>
                <input type="text" name="name" class="form-control" />
              </div>
              <div class="form-group">
                <label for="email" class="lead text-dark">Email</label>
                <input type="text" name="email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="message" class="lead text-dark">Message</label>
                <textarea
                  type="text"
                  name="message"
                  class="form-control"
                  rows="3"
                ></textarea>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-outline-warning btn-block">
                  Submit Question.?
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- contact section ends right here  -->

    <!-- footer section starts from here  -->
    <footer class="bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1 class="h1 text-light font-weight-light">
              Pure Bootstrap Project
            </h1>
            <h4 class="h2 text-light font-weight-light font-italic">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Perferendis, incidunt.
            </h4>
            <div class="py-3">
              <a href=""
                ><i class="fab text-primary fa-facebook px-3 mx-3 fa-2x"></i
              ></a>
              <a href=""
                ><i class="fab text-danger fa-google-plus px-3 mx-3 fa-2x"></i
              ></a>
              <a href=""
                ><i class="fab text-info fa-twitter px-3 mx-3 fa-2x"></i
              ></a>
              <a href=""
                ><i class="fab text-danger fa-youtube px-3 mx-3 fa-2x"></i
              ></a>
            </div>
            <p class="text-white">
              &copy;Copyright - 2019 Made By Sharath Mohan
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- footer section ends right here  -->

    <div class="container"></div>
    <!-- container ends here -->

    <script src="https://kit.fontawesome.com/bb8a34332f.js"></script>
    <script src="js/script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
