<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="no-gutters col-sm-12 col-md-8 col-xl-6">
          <h2 class="mt-5 mx-5 display-4">Sign Up</h2>
        </div>
      </div>
      <div class="row">
        <div class="no-gutters col-sm-12 col-md-8 col-xl-6">
          <form class="mt-2 mx-md-5 mx-2">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Profile Name</label>
              <input
                type="text"
                name="profileName"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email Address</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Confirm Password</label>
              <input
                type="password"
                name="confirmPassword"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <button type="submit" class="btn btn-success">
              Submit for Sign UP
            </button>
            <button type="submit" class="btn btn-info">
              Sign Up Google
            </button>
            <a href="login.html" class="text-light btn btn-primary">Log In</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
